<section id="contact">
    <div class="section-content formgroup">
        <div *ngIf="formhiden" class="container">
            <h3>New Contact</h3>
            <form #trvForm="ngForm" (ngSubmit)="submitHandler(trvForm.value)">
                <div class="form-group">
                    <label for="idSubject">Subject</label>
                    <select id="idSubject" [(ngModel)]="Subject" name="subject" type="text" placeholder=" Enter Subject" class="form-control"
                        required Subject>
            <option value="na" selected="">Choose One:</option>
                            <option value="service">General Customer Service</option>
                            <option value="suggestions">Suggestions</option>
                            <option value="Other">Other</option>
                        </select>
                </div>

                <div class="form-group">
                    <label for="idFullname">Full Name</label>
                    <input id="idFullname" [(ngModel)]="FullName" name="fullname" placeholder=" Enter Name" type="text" class="form-control"
                        required>
                </div>

                <div class="Divalert">
                    <div class="form-group">
                        <label for="idEmail">Email</label>
                        <input id="idEmail" name="Email" type="email" ngControl="email" class="form-control" required Email [(ngModel)]="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            placeholder=" Enter Email" #trvEmail="ngModel" />
                        <div *ngIf="trvEmail.errors && (trvEmail.dirty || trvEmail.touched)" class="alert alert-danger">
                            <div [hidden]="!trvEmail.errors.required">
                                Email is required
                            </div>
                            <div class="Divalert" [hidden]="!trvEmail.errors.pattern">
                                Email is Not valid! Example:abc@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idMassage">Massage</label>
                        <textarea id="idMassage" [(ngModel)]="Massage" name="massage" placeholder="Enter Your Message" class="form-control" required></textarea>
                    </div>

                    <br><br>
                    <div>
                        <button type="submit" (click)="saveTodos()" title="Fill all fields please!" [disabled]="!trvForm.valid" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send Message</button>
                    </div>
                    
                    
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="send" class="alert alert-success box-msg massegbox" role="alert">
                        <strong>Your Massage!</strong> is send to the restaurant Thank you.
                    </div>
</section>