/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: left; 
  
  }
  
  input{
      width: 550px;
  }
  select{
    width: 550px;
    height: 45px;
  }
  
  .Divalert
  {
    width: 550px;
  }
    
  .contact-section{
    padding-top: 40px;
    
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
    
    
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
    
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .massegbox{
    width: 300px;
    height: 100px;
    margin-left: 30px;
  }
  .formgroup{
background-color: rgba(0, 0, 0, 0.6);
  }
  