/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}

.contact-section{
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  
}
.contact-section .col-md-6{
  width: 50%;
}

.form-group{
  margin-bottom: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

 .massegbox{
    width: 300px;
    height: 100px;
    margin-left: 30px;
  }
  .divTop{
    margin-bottom: 50px;
  }
   
  select{
    height: 45px;
  }
